{% extends "template.html" %}

{% block head %}
<style>
body {
  background: black;
}
h1.title a {
  color: #333;
}
ul > li {
/*  border: solid green 1px;*/
  background: black;
  height: 500px;
  text-align: center;
  position: relative;
}
li > img {
  margin: auto;
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
}
h2 {
  color: #666;
}
h2.more span {
  color: #666;
}
</style>
{% endblock %}

{% block page %}
      {% if imgs %}
      {% for pear in imgs %}
      <ul>
        <li><img src="/uploads/as/{{ pear[0].slug }}" /></li>
        <li><img src="/uploads/jb/{{ pear[1].slug }}" /></li>
      </ul>
      <div class="title-cont">
        <span class="title l">{% if pear[0] %}{{ pear[0].title }} &bull; {{ pear[0].date }}{% if pear[0].user == g.user %} &bull; <a href="{{ url_for('upload', img=pear[0].id) }}">edit <i class="fa fa-edit"></i></a>{% endif %}{% else %}&nbsp;{% endif %}</span>
        <span class="title r">{% if pear[1] %}{{ pear[1].date }} &bull; {{ pear[1].title }}{% if pear[1].user == g.user %} &bull; <a href="{{ url_for('upload', img=pear[1].id) }}">edit <i class="fa fa-edit"></i></a>{% endif %}{% else %}&nbsp;{% endif %}</span>
      </div>
      
      {% if loop.first %}
      <h2 class="more"><span class="kern">some other <br /></span>Photos <span class="kern">of</span> <span style="color:red">February</span></h2>
      {% endif %}
      {% endfor %}
      {% else %}
      <br />
      <br />
      <h2 class="more">No images uploaded yet :-(</h2>
      {% endif %}
            
      <h2 class="more">
        <span class="kern">more months... </span><br /> 
        <span style="color:red">February</span> <span>&bull; March &bull;</span> <span>April &bull;</span> <span>May</span><br />
        <span>June &bull;</span> <span>July &bull;</span> <span>August &bull;</span> <span>September</span><br />
        <span>October &bull;</span> <span>November &bull;</span> <span>December &bull;</span> <span>January</span>
      </h2>
      
<!-- <script src="http://d3js.org/d3.v3.min.js"></script> -->
<script>
// var imgs = document.querySelectorAll("img");
// for(var i = 0; i < imgs.length; i++){
//   var w = imgs[i].naturalWidth, h = imgs[i].naturalHeight;
//   if(w > h){
//     imgs[i].style.width = "500px"
//   }
//   else {
//     imgs[i].style.height = "500px"
//   }
// }
</script> 
{% endblock %}