{% extends "template.html" %}
{% block page %}
      <ul>
        <li style="background: url('/uploads/as/red1.png')"></li>
        <li style="background: url('/uploads/jb/red1.png')"></li>
      </ul>
      <div class="title-cont">
        <span class="title l">Missus tulips &bull; February 14th</span>
        <span class="title r">February 14th &bull; Heirmonyous</span>
      </div>
        
      <!-- <div class="next_prev">
        <a href="#" class="btn"><i class="fa fa-chevron-left"></i> prev</a>
        <a href="#" class="btn">next <i class="fa fa-chevron-right"></i></a>
      </div>

      <a href="/toc/" class="toc"><i class="fa fa-list-ul"></i> table of contents</a> -->
        
      <h2 class="more"><span class="kern">some other <br /></span>Pears <span class="kern">of</span> <span style="color:red">February</span></h2>
      
      <!-- <hr /> -->
      
      <ul>
        <li style="background: url('/uploads/as/red2.png')"></li>
        <li style="background: url('/uploads/jb/red2.png')"></li>
      </ul>
      <div class="title-cont">
        <span class="title l">Missus tulips &bull; February 14th</span>
        <span class="title r">February 14th &bull; Heirmonyous</span>
      </div>
      
      <ul>
        <li style="background: url('/uploads/as/red3.png')"></li>
        <li style="background: url('/uploads/jb/red3.png')"></li>
      </ul>
      <div class="title-cont">
        <span class="title l">Missus tulips &bull; February 14th</span>
        <span class="title r">February 14th &bull; Heirmonyous</span>
      </div>
      
      <ul>
        <li style="background: url('/uploads/as/red4.png')"></li>
        <li style="background: url('/uploads/jb/red4.jpg')"></li>

      <div class="title-cont">
        <span class="title l">Missus tulips &bull; February 14th</span>
        <span class="title r">February 14th &bull; Heirmonyous</span>
      </div>
      
      <h2 class="more">
        <span class="kern">more months... </span><br /> 
        <span style="color:red">February</span> <span style="color:lightgrey">&bull; March &bull;</span> <span style="color:lightgrey">April &bull;</span> <span style="color:lightgrey">May</span><br />
        <span style="color:lightgrey">June &bull;</span> <span style="color:lightgrey">July &bull;</span> <span style="color:lightgrey">August &bull;</span> <span style="color:lightgrey">September</span><br />
        <span style="color:lightgrey">October &bull;</span> <span style="color:lightgrey">November &bull;</span> <span style="color:lightgrey">December &bull;</span> <span style="color:lightgrey">January</span>
      </h2>
      
{% endblock %}
