{% extends "template.html" %}
{% block page %}
      {% if imgs %}
      {% for pear in imgs %}
      <ul>
        <li>{% if pear[0] %}<img src="/uploads/as/{{ pear[0].slug }}" />{% else %}&nbsp;{% endif %}</li>
        <li>{% if pear[1] %}<img src="/uploads/jb/{{ pear[1].slug }}" />{% else %}&nbsp;{% endif %}</li>
      </ul>
      <div class="title-cont">
        <span class="title l">{% if pear[0] %}{{ pear[0].title }} &bull; {{ pear[0].date }}{% if pear[0].user == g.user %} &bull; <a href="{{ url_for('upload', img=pear[0].id) }}">edit <i class="fa fa-edit"></i></a>{% endif %}{% else %}&nbsp;{% endif %}</span>
        <span class="title r">{% if pear[1] %}{{ pear[1].date }} &bull; {{ pear[1].title }}{% if pear[1].user == g.user %} &bull; <a href="{{ url_for('upload', img=pear[1].id) }}">edit <i class="fa fa-edit"></i></a>{% endif %}{% else %}&nbsp;{% endif %}</span>
      </div>
      
      {% if loop.first %}
      <h2 class="more"><span class="kern">some other <br /></span>Photos <span class="kern">of</span> <span style="color:{{ month.color }}">{{ month.name }}</span></h2>
      {% endif %}
      {% endfor %}
      {% else %}
      <br />
      <br />
      <h2 class="more">No images uploaded yet :-(</h2>
      {% endif %}
      
      <h2 class="more">
        <span class="kern">more months... </span><br /> 
        <a href="{{ url_for('home', month='february')}}" style="color:red">February</a> &bull; <a href="{{ url_for('home', month='march')}}" style="color:#ffd530">March</a> &bull; <span>April &bull;</span> <span>May</span><br />
        <span>June &bull;</span> <span>July &bull;</span> <span>August &bull;</span> <span>September</span><br />
        <span>October &bull;</span> <span>November &bull;</span> <span>December &bull;</span> <span>January</span>
      </h2>
      
{% endblock %}
