{% extends "template.html" %}
{% block page %}
      <section class="month">
        <h2 style="color: red">February</h2>
        <div class="date-cont">
          <span class="title l"><a href="/pears/">Missus tulips</a></span>
          <span class="day">14</span>
          <span class="title r"><a href="/pears/">Heirmonyous</a></span>
        </div>
        <div class="date-cont">
          <span class="spacer l">&nbsp;</span>
          <span class="spacer r">&nbsp;</span>
        </div>
        <div class="date-cont">
          <span class="spacer l">&nbsp;</span>
          <span class="spacer r">&nbsp;</span>
        </div>
        <div class="date-cont">
          <span class="spacer l">&nbsp;</span>
          <span class="spacer r">&nbsp;</span>
        </div>
        <div class="date-cont">
          <span class="spacer l">&nbsp;</span>
          <span class="spacer r">&nbsp;</span>
        </div>
        <div class="date-cont">
          <span class="spacer l">&nbsp;</span>
          <span class="spacer r">&nbsp;</span>
        </div>
        <div class="date-cont">
          <span class="title l"><a href="/pears/">Gingerberries</a></span>
          <span class="day">20</span>
          <span class="title r"><a href="/pears/">Nothing feels</a></span>
        </div>
        <div class="date-cont">
          <span class="title l"><a href="/pears/">WZLX 87</a></span>
          <span class="day">21</span>
          <span class="title r">&nbsp;</span>
        </div>
        <div class="date-cont">
          <span class="spacer l">&nbsp;</span>
          <span class="spacer r">&nbsp;</span>
        </div>
        <div class="date-cont">
          <span class="spacer l">&nbsp;</span>
          <span class="spacer r">&nbsp;</span>
        </div>
        <div class="date-cont">
          <span class="spacer l">&nbsp;</span>
          <span class="spacer r">&nbsp;</span>
        </div>
        <div class="date-cont">
          <span class="title l">&nbsp;</span>
          <span class="day">25</span>
          <span class="title r"><a href="/pears/">Fall off (turn away)</a></span>
        </div>
        <div class="date-cont">
          <span class="spacer l">&nbsp;</span>
          <span class="spacer r">&nbsp;</span>
        </div>
        <div class="date-cont">
          <span class="spacer l">&nbsp;</span>
          <span class="spacer r">&nbsp;</span>
        </div>
        <div class="date-cont">
          <span class="title l"><a href="/pears/">Joe Robbie Stadium</a></span>
          <span class="day">28</span>
          <span class="title r">&nbsp;</span>
        </div>
      </section>
      
      <section class="month">
        <h2 style="color: orange">March</h2>
        <div class="date-cont">
          <span class="title l"><a href="/pears/">Never knows best</a></span>
          <span class="day">1</span>
          <span class="title r">&nbsp;</span>
        </div>
        <div class="date-cont">
          <span class="spacer l">&nbsp;</span>
          <span class="spacer r">&nbsp;</span>
        </div>
        <div class="date-cont">
          <span class="spacer l">&nbsp;</span>
          <span class="spacer r">&nbsp;</span>
        </div>
        <div class="date-cont">
          <span class="title l"><a href="/pears/">Zyzzyx Rd.</a></span>
          <span class="day">4</span>
          <span class="title r"><a href="/pears/">Today</a></span>
        </div>
      </section>
      
      <section class="month">
        <h2 style="color: pink">April</h2>
      </section>
{% endblock %}
