{% extends "template.html" %}

{% block title %}Table of Contents{% endblock %}

{% block page %}
{% for month, month_data in imgs.items() %}

<h2 class="toc-title"><span style="color:{{ month_data.color }}">{{ month }}</span></h2>
<section class="month">
  {% for d in month_data.imgs %}
  
  {% if d %}
  <div class="date-cont">
    <span class="title l">{% if d.as %}<a href="{{ url_for('home', month=month|lower) }}"><img src="/uploads/as/{{ d.as.slug }}" /><br />{{ d.as.title }}</a>{% else %}&nbsp;{% endif %}</span>
    <span class="day">{{ loop.index + 1 }}</span>
    <span class="title r">{% if d.jb %}<a href="{{ url_for('home', month=month|lower) }}"><img src="/uploads/jb/{{ d.jb.slug }}" /><br />{{ d.jb.title }}</a>{% else %}&nbsp;{% endif %}</span>
  </div>
  {% else %}
  <div class="date-cont">
    <span class="spacer l">&nbsp;</span>
    <span class="spacer r">&nbsp;</span>
  </div>  
  {% endif %}
  
  {% endfor %}
</section>

{% endfor %}
<br />
<br />
<br />
<br />
<br />
<br />
<h2 class="more">
  <span class="kern">more months... </span><br /> 
  <a href="{{ url_for('home', month='february')}}" style="color:red">February</a> &bull; <a href="{{ url_for('home', month='march')}}" style="color:#ffd530">March</a> &bull; <span>April &bull;</span> <span>May</span><br />
  <span>June &bull;</span> <span>July &bull;</span> <span>August &bull;</span> <span>September</span><br />
  <span>October &bull;</span> <span>November &bull;</span> <span>December &bull;</span> <span>January</span>
</h2>


{% endblock %}
